NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Rules for XML file  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Root element is NationalParks -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name appears once -->
              <xs:element name="Name" type="xs:string"/>
              <!-- Phone appears at least once -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>\
              <!-- Address appears once -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City"   type="xs:string"/>
                    <xs:element name="State"  type="xs:string"/>
                    <xs:element name="Zip"    type="xs:string"/>
                  </xs:sequence>
                  <!-- NearestAirport required Address -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Rating is optional on NationalPark -->
            <xs:attribute name="Rating" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>